# Linux Transfer Learning notebook - Boilerplate

## Datasets

Downloading the datasets :

In [14]:
!wget -N http://37.187.140.181/transfer_linux_dataset/dataset_413.pkl -P ./datasets

--2020-07-29 15:10:51--  http://37.187.140.181/transfer_linux_dataset/dataset_413.pkl
Connecting to 37.187.140.181:80... connected.
HTTP request sent, awaiting response... 200 OK
Length: 892042316 (851M) [application/octet-stream]
Saving to: ‘./datasets/dataset_413.pkl’

dataset_413.pkl     100%[===================>] 850.72M  1.13GB/s    in 0.7s

2020-07-29 15:10:52 (1.13 GB/s) - ‘./datasets/dataset_413.pkl’ saved [892042316/892042316]

In [16]:
!wget -N http://37.187.140.181/transfer_linux_dataset/dataset_415.pkl -P ./datasets

--2020-07-30 16:08:20--  http://37.187.140.181/transfer_linux_dataset/dataset_415.pkl
Connecting to 37.187.140.181:80... connected.
HTTP request sent, awaiting response... 304 Not Modified
File ‘./datasets/dataset_415.pkl’ not modified on server. Omitting download.

Importing the pickle files into dataframes :

In [3]:
import pandas as pd
df_413 = pd.read_pickle("datasets/dataset_413.pkl")
df_415 = pd.read_pickle("datasets/dataset_415.pkl")

In [4]:
df_413

,X86_LOCAL_APIC,OPENVSWITCH,TEXTSEARCH_FSM,NETFILTER_XT_MATCH_TCPMSS,MPLS,NFC_HCI,NETFILTER_XT_MATCH_TIME,NET_MPLS_GSO,NFC_SHDLC,NETFILTER_XT_MATCH_U32,...,XZ-bzImage,XZ-vmlinux,XZ,LZO-bzImage,LZO-vmlinux,LZO,LZ4-bzImage,LZ4-vmlinux,LZ4,cid
0,1,0,0,0,1,0,0,1,0,0,...,5178320.0,7264848,4980068,8922064.0,11008072,8734199,9839568.0,11925896,9638560,30000
1,1,0,0,0,0,0,0,0,0,0,...,2840016.0,4924448,2695928,4519376.0,6603288,4385061,4838864.0,6923096,4693085,30001
2,1,0,0,0,0,0,0,0,0,0,...,8496592.0,10581024,8351248,12391888.0,14475800,12256864,13362640.0,15446872,13214970,30002
3,1,0,0,0,0,0,0,0,0,0,...,6304720.0,8390008,6156724,8782800.0,10867576,8647251,9302992.0,11388080,9155423,30003
4,1,0,0,0,0,1,0,0,1,0,...,12321744.0,14407032,12176312,17933264.0,20018040,17796721,19346384.0,21431472,19197696,30004
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
92557,1,0,0,0,0,0,0,0,0,0,...,552400.0,2638880,411384,691664.0,2777624,558713,724432.0,2810712,578376,126756
92558,1,0,0,0,0,0,0,0,0,0,...,552400.0,2638880,411312,691664.0,2777624,558713,724432.0,2810712,578376,126757
92559,1,0,0,0,0,0,0,0,0,0,...,552400.0,2638880,411328,691664.0,2777624,558713,724432.0,2810712,578376,126758
92560,1,0,0,0,0,0,0,0,0,0,...,552400.0,2638880,411336,691664.0,2777624,558713,724432.0,2810712,578376,126759
92561,1,0,0,0,0,0,0,0,0,0,...,552400.0,2638880,411368,691664.0,2777624,558713,724432.0,2810712,578376,126760

In [5]:
df_415

,NETFILTER_XT_MATCH_CONNMARK,NET_EMATCH,TOUCHSCREEN_AD7877,REGULATOR_88PM8607,DVB_USB_CXUSB,CRYPTO_SHA512_MB,NETFILTER_XT_MATCH_CONNTRACK,LAPBETHER,TOUCHSCREEN_AD7879,REGULATOR_ACT8865,...,XZ-bzImage,XZ-vmlinux,XZ,LZO-bzImage,LZO-vmlinux,LZO,LZ4-bzImage,LZ4-vmlinux,LZ4,cid
0,0,0,0,1,0,1,0,0,0,1,...,7704752,9791464,7554872,12787888,14874088,12650651,13766832,15853424,13618427,29787
1,0,0,0,0,0,0,0,0,0,0,...,7677200,9766192,7453912,12244240,14332720,12029959,13612304,15701184,13389490,29788
2,0,0,1,0,0,1,0,0,1,1,...,13173328,15259176,13024548,21803600,23888936,21666603,23593552,25679288,23445627,29789
3,0,0,0,0,0,0,0,0,0,0,...,5633072,7718672,5487408,9552944,11638024,9415719,10482736,12568216,10336659,29790
4,0,0,0,0,0,0,0,0,0,0,...,7124016,9209616,6979100,11936816,14021896,11802122,12969008,15054488,12822792,29791
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
39386,0,0,0,0,0,1,0,0,0,0,...,3134416,5221256,2925332,4867024,6953352,4668518,5411792,7498512,5202868,69996
39387,0,0,0,0,0,0,0,0,0,0,...,5034032,7120656,4890576,8368176,10454280,8233143,9170992,11257496,9023391,69997
39388,0,0,0,1,0,1,0,0,0,1,...,15770160,17857680,15560416,28881456,30968456,28683704,32551472,34638872,32340626,69998
39389,0,0,0,0,0,0,0,0,0,0,...,6079952,8165040,5931960,10577360,12661928,10443053,11613648,13698616,11465752,69999
39390,0,0,0,0,0,1,0,0,0,0,...,4374608,6461320,4222564,7020624,9106816,6881019,7667792,9754384,7515896,70000

## Solving features shifting

In [6]:
columns_413 = set(df_413.columns.values)
columns_415 = set(df_415.columns.values)

print("Number of features in 4.13 dataset : ", len(columns_413))
print("Number of features in 4.15 dataset : ", len(columns_415))
print("Number of features common to both datasets : ", len(columns_413.intersection(columns_415)))

Number of features in 4.13 dataset :  9487
Number of features in 4.15 dataset :  9444
Number of features common to both datasets :  9145

We can see that some features appear in 4.15, and other disappear.

In [7]:
print("Number of features that disappear in 4.15 : ", len(columns_413.difference(columns_415)))
print("Number of features that appear in 4.15 : ", len(columns_415.difference(columns_413)))

Number of features that disappear in 4.15 :  342
Number of features that appear in 4.15 :  299

Note that this is biased by the fact the features with only one value in the dataset have been omitted. You'd have to recreate the dataset without this step to get the exact count.

If we want to align the 4.15 dataset to the 4.13 dataset, we have to perform 2 operations : 
 * Delete "new" features
 * Assign a value to the "old" features

Eliminating the new features is quite easy, only select the features intersection :

In [8]:
df_415_reduced = df_415[columns_413.intersection(columns_415)]

To assign a value for all old features, we need to create the columns one by one and to decide which value to take. Here we will asign the value 1, the other possibility would be 0.

In [9]:
for c in columns_413.difference(columns_415):
    df_415_reduced = df_415_reduced.assign(**{c:1})

In [10]:
df_415_reduced

,6LOWPAN_GHC_UDP,LAPB,PKCS7_TEST_KEY,SENSORS_W83L786NG,USB_EHSET_TEST_FIXTURE,TOUCHSCREEN_TI_AM335X_TSC,MLXSW_SWITCHIB,LEDS_PCA963X,PHY_ROCKCHIP_TYPEC,IP_SET_LIST_SET,...,SCx200_GPIO,CLONE_BACKWARDS,SPARSEMEM_MANUAL,LGUEST_GUEST,SND_SBAWE,BLK_DEV_DTC2278,SCSI_AHA152X,HIGHMEM64G,HAVE_VIRT_CPU_ACCOUNTING_GEN,COPS
0,0,0,0,0,0,0,0,0,0,0,...,1,1,1,1,1,1,1,1,1,1
1,0,1,0,0,0,0,0,0,0,0,...,1,1,1,1,1,1,1,1,1,1
2,0,0,0,0,1,0,0,1,0,0,...,1,1,1,1,1,1,1,1,1,1
3,0,0,0,0,0,0,0,0,1,0,...,1,1,1,1,1,1,1,1,1,1
4,0,1,0,0,0,0,0,0,0,0,...,1,1,1,1,1,1,1,1,1,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
39386,0,0,0,0,0,0,0,0,0,0,...,1,1,1,1,1,1,1,1,1,1
39387,0,1,0,0,0,0,0,1,0,0,...,1,1,1,1,1,1,1,1,1,1
39388,0,0,0,0,0,0,0,0,0,0,...,1,1,1,1,1,1,1,1,1,1
39389,0,0,0,0,0,0,0,1,0,0,...,1,1,1,1,1,1,1,1,1,1
39390,0,0,0,1,0,0,0,1,0,0,...,1,1,1,1,1,1,1,1,1,1

In [11]:
print("Number of features common to 4.13 dataset and the aligned 4.15 dataset : ", len(columns_413.intersection(df_415_reduced)))

Number of features common to 4.13 dataset and the aligned 4.15 dataset :  9487

Reordering the new 4.15 dataset :

In [12]:
df_415_reduced = df_415_reduced[df_413.columns]

In [13]:
df_415_reduced

,X86_LOCAL_APIC,OPENVSWITCH,TEXTSEARCH_FSM,NETFILTER_XT_MATCH_TCPMSS,MPLS,NFC_HCI,NETFILTER_XT_MATCH_TIME,NET_MPLS_GSO,NFC_SHDLC,NETFILTER_XT_MATCH_U32,...,XZ-bzImage,XZ-vmlinux,XZ,LZO-bzImage,LZO-vmlinux,LZO,LZ4-bzImage,LZ4-vmlinux,LZ4,cid
0,1,0,0,0,1,1,0,1,1,0,...,7704752,9791464,7554872,12787888,14874088,12650651,13766832,15853424,13618427,29787
1,1,0,0,0,1,0,0,0,0,0,...,7677200,9766192,7453912,12244240,14332720,12029959,13612304,15701184,13389490,29788
2,1,0,0,0,0,0,0,0,0,0,...,13173328,15259176,13024548,21803600,23888936,21666603,23593552,25679288,23445627,29789
3,1,0,0,0,0,0,0,0,0,0,...,5633072,7718672,5487408,9552944,11638024,9415719,10482736,12568216,10336659,29790
4,1,1,0,0,1,0,0,1,0,0,...,7124016,9209616,6979100,11936816,14021896,11802122,12969008,15054488,12822792,29791
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
39386,1,0,0,0,1,0,0,0,0,0,...,3134416,5221256,2925332,4867024,6953352,4668518,5411792,7498512,5202868,69996
39387,1,0,0,0,0,0,0,0,0,0,...,5034032,7120656,4890576,8368176,10454280,8233143,9170992,11257496,9023391,69997
39388,1,0,0,0,0,0,0,0,0,0,...,15770160,17857680,15560416,28881456,30968456,28683704,32551472,34638872,32340626,69998
39389,1,0,0,0,0,0,0,0,0,0,...,6079952,8165040,5931960,10577360,12661928,10443053,11613648,13698616,11465752,69999
39390,1,0,0,0,0,0,0,0,0,0,...,4374608,6461320,4222564,7020624,9106816,6881019,7667792,9754384,7515896,70000